<div class="dogs-grid">
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya1">
      <p>Kutya 1</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya2">
      <p>Kutya 2</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya3">
      <p>Kutya 3</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya4">
      <p>Kutya 4</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya5">
      <p>Kutya 5</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya6">
      <p>Kutya 6</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya7">
      <p>Kutya 7</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya8">
      <p>Kutya 8</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya9">
      <p>Kutya 9</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya8">
      <p>Kutya 10</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya9">
      <p>Kutya 11</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya8">
      <p>Kutya 12</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya9">
      <p>Kutya 13</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya2.jpg" alt="Kutya8">
      <p>Kutya 14</p>
    </div>
    <div class="dog-card">
      <img src="assets/images/kutya1.jpg" alt="Kutya9">
      <p>Kutya 15</p>
    </div>
    <div class="dog-card">
        <img src="assets/images/kutya2.jpg" alt="Kutya8">
        <p>Kutya 16</p>
    </div>
  </div>
  