<div class="animals-grid">
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska1">
      <p>Macska 1</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska2">
      <p>Macska 2</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska3">
      <p>Macska 3</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska4">
      <p>Macska 4</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska5">
      <p>Macska 5</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska6">
      <p>Macska 6</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska7">
      <p>Macska 7</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska8">
      <p>Macska 8</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska9">
      <p>Macska 9</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska9">
      <p>Macska 10</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska9">
      <p>Macska 11</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska9">
      <p>Macska 12</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska9">
      <p>Macska 13</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska9">
      <p>Macska 14</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska1.jpg" alt="Macska9">
      <p>Macska 15</p>
    </div>
    <div class="animal-card">
      <img src="assets/images/macska2.jpg" alt="Macska9">
      <p>Macska 16</p>
    </div>
  </div>
  